#container{
    border-radius: 5px;
    text-align: center;
    position: absolute;
    box-shadow: 0 4px 4px -1px rgb(0, 0, 0, 0.2);
    left: 30%;
    right: 30%;
    top: 45%;
}
ion-items:hover{
    --backgroung: #8880FF;
    #icono{
        visibility: visible;
    }
}
#icon{
    visibility: hidden;
}