#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
}

#container ion-grid{
  display: grid;
  place-items: center;
  height: 100vh;
}

#img-des{
  align-items: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

#carta ul{
  color: #ffffff;
}

#container a {
  text-decoration: none;
}

#carta ion-row{
  padding: 10px !important;
  border-radius: 16px !important;
  box-shadow: 2px;
}
#carta ion-card{
  background-color: #ff8787 !important;
}
#carta ion-item{
  border-radius: 16px !important;
}
#carta ion-img{
  display: block;
  margin: auto;
  height: 80vh;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
h1{
  text-align: center;
}